<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons>
      <ion-back-button (clicc)="regresarX()">

      </ion-back-button>
      <ion-title>{{tituloT}} </ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>



  <div class="cont2">

    <div class="parte"  id="Servicios">
     


<!------------------------------------------------menu servicios---------------------------------------------------------------------->
      <div class="menuServices centrar">
        <p style="width: 100%; height: 10px; font-size: 12px; margin-left: 10px;">Ingresar servicios:</p>
        <button *ngFor="let option of this.efectos.tiposDeServicios" class="opcionMenu centrar"
        [ngClass]="{'actual':this.efectos.actual==option.id}"
        (click)="this.efectos.actualNew(option.id)"
        >
            <img src="{{option.icon}}" style="width: 17px;">
        </button>

      </div>

<!------------------------------------------------menu servicios fin---------------------------------------------------------------------->
    


<!------------------------------------------------ver servicios---------------------------------------------------------------------->
      <div class="viewServicio" style="border-bottom: 1px solid gray ;">
    
        <div *ngIf="this.efectos.actual==1" class="vewTipoServico " >
            <h5 class="indentificador2">Lavandería:</h5>
            <div *ngFor="let lavado of lavanderia"  class="itemX centrar">

              <div style="width: 70%;">
                  <label>Lavado de {{lavado.servicio}} ${{lavado.precio}} por {{lavado.unidad}}</label>
                  <p>Descripción: {{lavado.descripcion}}</p>
              </div>


              <div class="centrar" style="width: 30%; height: auto;">
                  <button class="editordelete centrar"
                  (click)="editar(lavado,1)"
                  >
                      <img src="../../../assets/Registro/pencil-edit-button.png" style="width: 15px;">
                  </button>
                  <button class="editordelete centrar"
                  (click)="deleteElement(lavado.id,1)"
                  >
                      <img src="../../../assets/Registro/rubbish-bin-delete-button.png" style="width: 15px;">
                  </button>
              </div>

              

            </div>
        </div>

        <div *ngIf="this.efectos.actual==2" class="vewTipoServico" >
            <h5 class="indentificador2">Tintoreria:</h5>
            <div *ngFor="let tinto of tintoreria"  class="itemX centrar">
              <div style="width: 70%;">
                  <label>{{tinto.servicio}} ${{tinto.precio}} por {{tinto.unidad}}</label>
                  <p>Descripción: {{tinto.descripcion}}</p>
              </div>
                
                <div class="centrar" style="width: 30%; height: auto; ">
                    <button class="editordelete centrar"
                    (click)="editar(tinto,2)"
                    >
                        <img src="../../../assets/Registro/pencil-edit-button.png" style="width: 15px;">
                    </button>
                    <button class="editordelete centrar"
                    (click)="deleteElement(tinto.id,2)"
                    >
                        <img src="../../../assets/Registro/rubbish-bin-delete-button.png" style="width: 15px;">
                    </button>
                </div>


              </div>


            


          </div>

          <div *ngIf="this.efectos.actual==3" class="vewTipoServico" >
              <h5 class="indentificador2">Planchado:</h5>
              <div *ngFor="let plan of planchado"  class="itemX centrar">
               
               
                <div style="width: 70%;">
                    <label> ${{plan.precio}} por {{plan.unidad}}</label>
                    <p>Descripción: {{plan.descripcion}}</p>
                </div>

                  <div class="centrar" style="width: 30%; height: auto; ">
                      <button class="editordelete centrar"
                      (click)="editar(plan,3)"
                      >
                          <img src="../../../assets/Registro/pencil-edit-button.png" style="width: 15px;">
                      </button>
                      <button class="editordelete centrar"
                      (click)="deleteElement(plan.id,3)"
                      >
                          <img src="../../../assets/Registro/rubbish-bin-delete-button.png" style="width: 15px;">
                      </button>
                  </div>
                </div>
          </div>


          
            <div *ngIf="this.efectos.actual==4" class="vewTipoServico" >
                <h5 class="indentificador2">Ofertas y promociones:</h5>
                <div *ngFor="let ofer of ofertas"  class="itemX centrar">
                  <div style="width: 70%;">
                      <label>Titulo: {{ofer.titulo}}</label>
                    <p>Descripción: {{ofer.descripcion}}</p>
                  </div>
                  

                    
                  <div class="centrar" style="width: 30%; height: auto; ">
                      <button class="editordelete centrar"
                      (click)="editar(ofer,4)"
                      >
                          <img src="../../../assets/Registro/pencil-edit-button.png" style="width: 15px;">
                      </button>
                      <button class="editordelete centrar"
                      (click)="deleteElement(ofer.id,4)"
                      >
                          <img src="../../../assets/Registro/rubbish-bin-delete-button.png" style="width: 15px;">
                    </button>
                  </div>
                </div>
            </div>

              <div *ngIf="this.efectos.actual==5" class="vewTipoServico" >
                  <h5 class="indentificador2">Otros:</h5>
                  <div *ngFor="let other of otros"  class="itemX centrar">
                    <div style="width: 70%;">
                        <label>Titulo: {{other.titulo}}</label>
                        <p>Descripción: {{other.descripcion}}</p>
                    </div>
                     


                      <div class="centrar" style="width: 30%; height: auto;">
                          <button class="editordelete centrar"
                          (click)="editar(other,5)"
                          >
                              <img src="../../../assets/Registro/pencil-edit-button.png" style="width: 15px;">
                          </button>
                          <button class="editordelete centrar"
                          (click)="deleteElement(other.id,5)"
                          >
                              <img src="../../../assets/Registro/rubbish-bin-delete-button.png" style="width: 15px;">
                        </button>
                      </div>
                      
                  </div>
                </div>



      
      </div>

<!------------------------------------------------ver servicios fin---------------------------------------------------------------------->
    
    <button class="AddService centrar" (click)="this.efectos.mostrasAddService()">
      <img src="../../../assets/Registro/plus-sign-to-add.png" style="width: 100%;">
    </button>






<!------------------------------------------------ingresar servicios---------------------------------------------------------------------->
     


      <div class="introService" id="addservicio">
            <!------------------------------------------------menu servicios---------------------------------------------------------------------->
            <div class="menuServices centrar">
                <p class="centrar" style="width: 100%; height: 10px; font-size: 12px; margin-left: 10px;">Tipo de servicio:
                
                    <a class="indentificador"  *ngIf="this.efectos.actual==1">Lavandería</a>
                    <a  class="indentificador" *ngIf="this.efectos.actual==2">Tintoreria</a>
                    <a  class="indentificador" *ngIf="this.efectos.actual==3">Planchado</a>
                    <a  class="indentificador" *ngIf="this.efectos.actual==4">Ofertar o propociones</a>
                    <a  class="indentificador" *ngIf="this.efectos.actual==5">Otros</a>
                </p>
               
              <div *ngIf="this.efectos.edit==false" class="centrar" style="width: 100%; overflow: hidden;">
                  <button *ngFor="let option of this.efectos.tiposDeServicios"
                  [ngClass]="{'actual':this.efectos.actual==option.id}"
                  class="opcionMenu centrar"
                  (click)="this.efectos.actualNew(option.id)"
                  >
                      <img src="{{option.icon}}" style="width: 17px;">
                  </button>
              </div>
               
               
        
              </div>
  
            <!------------------------------------------------menu servicios fin---------------------------------------------------------------------->
            
             
              <ion-item  *ngIf="this.efectos.actual<3">
              <ion-label>Servicio: </ion-label>
              <ion-input name="this.efectos.servicio"
              (click)="this.efectos.vewServicios(null)"
              [(ngModel)]="this.efectos.servicio"></ion-input>
              
              </ion-item>
                
              <div class="contServicios" *ngIf="this.efectos.actual==1 && this.efectos.verServicios==true">
                <div style="width: 100%;" *ngFor="let option of this.efectos.tiposLavanderia | filtros:this.efectos.servicio">
                  <button *ngIf="option.mal==false" class="option" 
                  (click)="this.efectos.vewServicios(option.title,option.id)" 
                  >
                    {{option.title}}
                  </button>
                </div>                      
              </div>



              <div class="contServicios" *ngIf="this.efectos.actual==2 && this.efectos.verServicios==true">
                  <div style="width: 100%;" *ngFor="let option of this.efectos.serviciosTintoreria | filtros:this.efectos.servicio">
                    <button *ngIf="option.mal==false" class="option" 
                    (click)="this.efectos.vewServicios(option.title,option.id)" 
                    >
                      {{option.title}}
                    </button>
                  </div>                      
                </div>



              <ion-item  *ngIf="this.efectos.actual<4">
                  <ion-label>Unidades:</ion-label>
                  <ion-input style="z-index: 80;" [(ngModel)]="this.efectos.unidad"></ion-input>
              
                <button class="fantasma" (click)="this.efectos.vewUnidades(null,null)"></button>
              </ion-item>

              <div class="contServicios" *ngIf="this.efectos.actual<4 && this.efectos.verUnidades==true">
                  <div style="width: 100%;" *ngFor="let option of this.efectos.unidades">
                    <button  class="option"  *ngIf="option.mal==false && this.efectos.actual==3"
                    (click)="this.efectos.vewUnidades(option,option.title)" 
                    >
                      {{option.title}}
                    </button>
<!------------------------------------------------------------------------------------------------------------------>
                    <button  class="option"  *ngIf="this.efectos.actual!=3"
                    (click)="this.efectos.vewUnidades(option,option.title)" 
                    >
                      {{option.title}}
                    </button>
                    
                  </div>                      
              </div>



              <ion-item *ngIf="this.efectos.actual<4">
                <ion-label>Precio:</ion-label>
                <ion-input type="number" [(ngModel)]="this.efectos.precio"></ion-input>
              </ion-item>

              <ion-item *ngIf="this.efectos.actual>3">
                  <ion-label>Titulo:</ion-label>
                  <ion-input [(ngModel)]="this.efectos.titulo" value="this.efectos.titulo"></ion-input>
              </ion-item>

              <ion-item>
           
                  <ion-label>Descripción:</ion-label>
              
                 
                  <ion-textarea 
                  [(ngModel)]="this.efectos.descripcion"
                  rows="7" 

                  placeholder="Enter any notes here...">
                </ion-textarea>
              </ion-item>




            <div class="bordeBotones centrar">
              <ion-button style=" height: 30px; margin:auto;"
              (click)="this.efectos.ocultarAddService()"
              >
                Cancelar
              </ion-button>


              <ion-button  style=" height: 30px; margin:auto;"
                *ngIf="this.efectos.actual<3"
                [disabled]="this.efectos.servicio==null || 
                this.efectos.unidad==null || 
                this.efectos.precio==null|| 
                this.efectos.descripcion==null ||this.efectos.descripcion.length<1"
                (click)="guardar()"
              >
              Guardar
              </ion-button>

              <ion-button  style=" height: 30px; margin:auto;"
                *ngIf="this.efectos.actual==3"
                [disabled]="
                this.efectos.unidad==null || 
                this.efectos.precio==null|| 
                this.efectos.descripcion==null ||this.efectos.descripcion.length<1"
                (click)="guardar()"
              >
              Guardar
              </ion-button>


              
              <ion-button  style=" height: 30px; margin:auto;"
                *ngIf="this.efectos.actual>3"
                [disabled]="
                this.efectos.titulo==null || this.efectos.titulo.length<1 ||
                this.efectos.descripcion==null ||this.efectos.descripcion.length<1"
                (click)="guardar()"
              >
                Guardar
              </ion-button>


            </div>

           





      </div>

     


<!------------------------------------------------ingresar servicios fin  [disabled]="lavanderia.length==0" ---------------------------------------------------------------------->
    

      <div class="centrar" style="padding: 10px; z-index: 70;" *ngIf="edit==false">
          <ion-button style="margin:auto; height: 30px;"
          (click)="this.efectos.next('Datos')"
          [disabled]="lavanderia.length==0"
          >
              Aceptar
            </ion-button>
      </div>

<!------------------------------------------------Cambiar datos---------------------------------------------------------------------->
    
      <div class="centrar" style="padding: 10px; z-index: 70;" *ngIf="edit==true">

          <ion-button style="margin:auto; height: 30px;"
          (click)="cancaelarAcualizado()"
          >
              Cancelar
            </ion-button>
          <ion-button style="margin:auto; height: 30px;"
          [disabled]="lavanderia.length==0"
            (click)="guadarEditLavanderia()"
          >
              Guardar 
            </ion-button>
      </div>

        
  

</div>
























































<!----------formulario----------------------------------------------------------------------------------------------------->




    <div class="parte" style="height: 0px;" id="Datos">
        <h5 style="margin-left: 10px;">Datos de la empresa:</h5>
        <form [formGroup]="formRegistro" class="formulario">
          
          <!--Nombre(s):</label> <br>
          <input formControlName="nombre" type="text"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(1)">
              <img 
              *ngIf="!formRegistro.get('nombre').hasError('required') && !formRegistro.get('nombre').hasError('pattern')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('nombre').hasError('required') || formRegistro.get('nombre').hasError('pattern')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
          <p *ngIf="this.efectos.forInfo==1">
              Este campo es obligatorio, no debe tener números o caracteres especiales como: ¡#$%, debe tener una longitud de 3 a 50 caracteres. Puede incluir mayúsculas y minúsculas. 
        
          </p>






          <label >Apellido(s):</label><br>
          <input formControlName="apellidos" type="text"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(2)">
              <img 
              *ngIf="!formRegistro.get('apellidos').hasError('required') && !formRegistro.get('apellidos').hasError('pattern')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('apellidos').hasError('required') || formRegistro.get('apellidos').hasError('pattern')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>

          <p *ngIf="this.efectos.forInfo==2">
              Este campo es obligatorio, no debe tener números o caracteres especiales como: ¡#$%, debe tener una longitud de 3 a 50 caracteres. Puede incluir mayúsculas y minúsculas.  
          </p--->



          <label >Nombre del negocio:</label><br>
          <input formControlName="nombreLavanderia" type="text"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(5)">
              <img 
              *ngIf="!formRegistro.get('nombreLavanderia').hasError('required')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('nombreLavanderia').hasError('required')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
            <p *ngIf="this.efectos.forInfo==5">
              Campo obligatorio.
            </p>


<div *ngIf="edit==false">
          <label >Contraseña:</label><br>
          <input formControlName="contrasenia" type="password"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(3)">
              <img 
              *ngIf="!formRegistro.get('contrasenia').hasError('required') && !formRegistro.get('contrasenia').hasError('pattern')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('contrasenia').hasError('required') || formRegistro.get('contrasenia').hasError('pattern')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
          <p *ngIf="this.efectos.forInfo==3">
              Campo obligatorio, este debe tener: letras mayúsculas y minúsculas, al menos un número, al menos un carácter especial (#?!@$%^&*-) y una longitud de 8 a 15 caracteres sin espacios.
          </p>







          <label >Comfirmar contraseña:</label><br>
          <input formControlName="contrasenia2" type="password"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(4)">
              <img 
              *ngIf="!formRegistro.get('contrasenia2').hasError('required') && !formRegistro.get('contrasenia2').hasError('pattern')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('contrasenia2').hasError('required') || formRegistro.get('contrasenia2').hasError('pattern')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
          <p *ngIf="this.efectos.forInfo==4">
              Campo obligatorio, este campo debe coincidir con el campo contraseña. 
            </p>


</div>


         


          <label >Correo:</label><br>
          <input formControlName="correo" type="text"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(6)">
              <img 
              *ngIf="!formRegistro.get('correo').hasError('required') && !formRegistro.get('correo').hasError('pattern')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('correo').hasError('required') || formRegistro.get('correo').hasError('pattern')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
          <p *ngIf="this.efectos.forInfo==6">
              Campo obligatorio.
          </p>




          <label >Número telefonico del negocio:</label><br>
          <input formControlName="telefono" type="number"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(7)">
              <img 
              *ngIf="!formRegistro.get('telefono').hasError('required') && !formRegistro.get('telefono').hasError('pattern')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('telefono').hasError('required') || formRegistro.get('telefono').hasError('pattern')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
          <p *ngIf="this.efectos.forInfo==7">
              Este campo es obligatorio, solo debe componerse de 10 caracteres numéricos 
          </p>







          <label >Horario de lunes a viernes:</label><br>
          <label >De </label> 
          <input formControlName="haraIntiLV" type="time" style="width: 42%;"> <label > a </label> 
          <input  formControlName="haraEndtiLV" type="time" style="width: 42%;"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(8)">
              <img 
              *ngIf="!formRegistro.get('haraIntiLV').hasError('required') && !formRegistro.get('haraEndtiLV').hasError('required')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('haraIntiLV').hasError('required') || formRegistro.get('haraEndtiLV').hasError('required')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
          <p *ngIf="this.efectos.forInfo==8">
              Campos obligatorios.
          </p>

          
          
          <label >Horario sabados:</label><br>
          <label >De </label> 
          <input formControlName="haraIntiS" type="time" style="width: 42%;"> <label > a </label> 
          <input  formControlName="haraEndtiS" type="time" style="width: 42%;"><br>
          <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(9)">
              <img 
              *ngIf="!formRegistro.get('haraIntiS').hasError('required') && !formRegistro.get('haraEndtiS').hasError('required')"
              src="../../../assets/imagenes/information.png" style="width: 100%;">
              <img 
              *ngIf="formRegistro.get('haraIntiS').hasError('required') || formRegistro.get('haraEndtiS').hasError('required')"
              src="../../../assets/imagenes/informationX.png" style="width: 100%;">
          </div>
          <p *ngIf="this.efectos.forInfo==9">
              Campos obligatorios.
          </p>

        </form>

    
        <div class="centrar" style="padding: 10px; z-index: 70;" *ngIf="edit==false">

            <ion-button style="margin:auto; height: 30px;"
            (click)="this.efectos.next('Servicios')"
            >
                Regresar
              </ion-button>
            <ion-button style="margin:auto; height: 30px;"
            [disabled]="!formRegistro.valid"
            (click)="validadContrasenias()"
            >
                Aceptar
              </ion-button>
        </div>



<!----------Botones editar----------------------------------------------------------------------------------------------------->


      <div class="centrar" style="padding: 10px; z-index: 70;" *ngIf="edit==true">

          <ion-button style="margin:auto; height: 30px;"
          (click)="cancaelarAcualizado()"
          >
              Cancelar
            </ion-button>
          <ion-button style="margin:auto; height: 30px;"
            
            (click)="guadarEditLavanderia()"
          >
              Guardar 
            </ion-button>
      </div>






      
</div>



<!----------formulario fin     [disabled]="!formRegistro.valid" "----------------------------------------------------------------------------------------------------->




















<div class="parte" style="height: 0px; " id="Mapa">
    <h5 style="width: 100%; text-align: center;">Ubicación:</h5>
    
    <div class="centrar" style="padding: 10px; z-index: 70; height: 83%; overflow-y: scroll;">
      


          
          
          <div class="conteMapa">
  
            <agm-map [zoom]='zoom' [latitude]="lat" [longitude]="lng">
  
                <agm-marker [latitude]="lat" [longitude]="lng"
                            [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)"
                ></agm-marker>
  
            </agm-map>
  
          </div>

          <div style="width: 100%;">
              <br>
              <label style="color: gray; font-size: 12px;">Dirección:</label>
              <p style="font-size: 14px; border-bottom: 1px solid gray;">{{address}}</p>
          </div>
  
          <div style="width: 100%;">
              <label style="color: gray; font-size: 12px;">Referencias:</label>
              <ion-textarea 
              style="font-size: 14px; border: 1px solid gray;"
              rows="3" cols="20" placeholder="Enfrente de..."
              [(ngModel)]="referencias"
              ></ion-textarea>
          </div>

        
     
    </div>

    <div class="centrar" style="padding: 10px; z-index: 70;" *ngIf="edit==false">
        <ion-button style="margin:auto; height: 30px;"
          (click)="this.efectos.next('Datos')"
        >
            Regresar
          </ion-button>
        <ion-button style="margin:auto; height: 30px;"
        [disabled]="referencias==''"
        (click)="this.efectos.next('Imagenes')"
        >
            Aceptar
          </ion-button>
        
      </div>



      <!------------------------------------------------Cambiar datos---------------------------------------------------------------------->
    
      <div class="centrar" style="padding: 10px; z-index: 70;" *ngIf="edit==true">

          <ion-button style="margin:auto; height: 30px;"
          (click)="cancaelarAcualizado()"
          >
              Cancelar
            </ion-button>
          <ion-button style="margin:auto; height: 30px;"
          [disabled]="referencias==''"
            (click)="guadarEditLavanderia()"
          >
              Guardar 
            </ion-button>
      </div>

</div>




















<!----------imagenes----------------------------------------------------------------------------------------------------->





    <div class="parte" style=" height: 0px; " id="Imagenes">
        <h5 style="margin-left: 10px;">Imagenes de precentación:</h5>
        <div  style="padding: 10px; z-index: 70; height: 100%;">

          <div class="contFotos ">
            <div style="display: flex; flex-wrap: wrap; width: 100%; height: auto;">
                <div class="contFoto" *ngFor="let imagen of imagenes">
                    <img src="{{imagen.imagen}}" id="{{imagen.id}}" >
                   <button *ngIf="!imagen.ultimo" class="botonBorrar centrar"
                   (click)="borrarImagen(imagen.id)"
                   >
                     <img src="../../../assets/iconos/rubbish-bin-delete-button.png" width="100%">
                   </button>
                </div>
          </div>
            


          </div>

          
          <button class="AddService centrar" style="margin-right: 5px;">
              <img src="../../../assets/iconos/upload.png" width="80%">
              <input
              style="position: absolute; width: 100%; height: 100%; outline: none; opacity: 0;"
              type="file" (change)="handleFileSelect($event)"><br>
          </button>

          <div class="centrar" style="margin-top: 15px;"  *ngIf="edit==false">

              <ion-button style="margin:auto; height: 30px;"
              (click)="this.efectos.next('Mapa')"
            >
                Regresar
              </ion-button>
            <ion-button style="margin:auto; height: 30px;"
            [disabled]="imagenes.length==0"
            (click)="registrarLavanderia()"
            >
              
                Aceptar
              </ion-button>
          </div>
          


          <!------------------------------------------------Cambiar datos---------------------------------------------------------------------->
    
      <div class="centrar" style="padding: 10px; z-index: 70;" *ngIf="edit==true">

          <ion-button style="margin:auto; height: 30px;"
          (click)="cancaelarAcualizado()"
          >
              Cancelar
            </ion-button>
          <ion-button style="margin:auto; height: 30px;"
          [disabled]="imagenes.length==0"
          (click)="guadarEditLavanderia()"
          >
              Guardar 
            </ion-button>
      </div>
            
        </div>




    
    </div>

<!----------imagenes fin----------------------------------------------------------------------------------------------------->




<div class="parte centrar" style=" height: 0px; " id="MenuEdit">
   
  <form [formGroup]="formValidar"  class="formulario" style="height: auto;" *ngIf="validado==false">
    <label style="color: #23374d;">{{this.formRegistro.get('nombreLavanderia').value}}</label> <br>
    <label >IngresE su contraseña:</label>
    <input formControlName="contrasenia" type="password" placeholder="******">

    <div class="botonInfo centrar" (click)="this.efectos.mostrarRequierd(11)">
      <img 
      *ngIf="!formValidar.get('contrasenia').hasError('required') && !formValidar.get('contrasenia').hasError('pattern')"
      src="../../../assets/imagenes/information.png" style="width: 100%;">
      <img 
      *ngIf="formValidar.get('contrasenia').hasError('required') || formValidar.get('contrasenia').hasError('pattern')"
      src="../../../assets/imagenes/informationX.png" style="width: 100%;">
  </div>
    <p *ngIf="this.efectos.forInfo==11">
      Campo obligatorio, este debe tener: letras mayúsculas y minúsculas, al menos un número, al menos un carácter especial (#?!@$%^&*-) y una longitud de 8 a 15 caracteres sin espacios.
    </p>


  

    <div style="width: 100%;" class="centrar">
      <ion-button   [disabled]="!formValidar.valid" style="margin: auto;"
      (click)="combroparValidar()"
      >
        Aceptar
      </ion-button>
    </div>
  </form>


<div style="height: 100%; width: 100%;" class="centrar" *ngIf="validado==true">

  <button class="botonEditMenu " (click)="this.efectos.next('Servicios')">

    <label class="centrar"  >
        <img src="../../../assets/Registro/washing-machine.png" style="width: 20px;">
      <p style="width: 100%; text-align: center;">
          servicios
      </p>
    </label>
     
  </button>


  <button class="botonEditMenu"   (click)="this.efectos.next('Datos')">

      <img src="../../../assets/iconos/store.png" style="width: 20px;">
      <p style="width: 100%; text-align: center;">
          Datos de la empresa
      </p>

</button>

<button class="botonEditMenu"   (click)="this.efectos.next('Mapa')">
    <img src="../../../assets/Registro/pin.png" style="width: 20px;">
    <p style="width: 100%; text-align: center;">
        Ubicación
    </p>
 
</button>

<button class="botonEditMenu" (click)="this.efectos.next('Imagenes')">
  <img src="../../../assets/iconos/picture.png" style="width: 20px;">
      <p style="width: 100%; text-align: center;">
          Imagenes de precentación
      </p>

</button>


</div>

</div>














<div class="parte centrar" style="background: white; height: 0px; " id="Espera">
 <label class="centrar">
  <img src="../../../assets/Registro/A37.gif" style="width: 20%; margin: auto;">
  <p style="width: 100%; text-align: center;">Cargando...</p>
 </label>
  
</div>





    </div>

    <div  style="position: absolute; height: 100%; width: 100%;
      background: rgba(0, 0, 0, 0.8); top: 0px;"
      class="centrar"
      *ngIf="en_proceso"
      >
      <label class="centrar">
        <img src="../../../assets/Registro/A37.gif" style="width: 20%; margin: auto;">
        <p style="width: 100%; text-align: center; color: white;">Realizando cambios...</p>
       </label>
    </div>
</ion-content>
