<ion-header>
  <ion-toolbar color=primary>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Repartidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=secondary>
  <div style="width: 100%; height: 100%; position: absolute; top: 0px; overflow: hidden;">
  
    <div class="mapa">
        <agm-map
   
   [latitude]="lat"
   [longitude]="lng"
   [zoom]="12"
   >



   <agm-marker  [latitude]="lat" [longitude]="lng" 
   [iconUrl]="  {
    url: './assets/iconos/home-address.png',
    scaledSize: {width: 40,height: 40}
  }"
   ></agm-marker>

     <agm-marker  
     *ngFor="let repartidor of repartidores"
     [latitude]="repartidor.lat" [longitude]="repartidor.lon"
     [iconUrl]="  {
      url: repartidor.icon,
      scaledSize: {width: 40,height: 40}
    }"
    [label]="{
      color: '#414141',
      fontSize: '17px',
      text:repartidor.nombre+' '+repartidor.apellidos,
      top:0
    }"
    (markerClick)="verRepartidor(repartidor)"
     >
  </agm-marker>
  </agm-map>
<img src="../../../assets/iconos/placeholder.png" alt="">
    </div>











    <div class="datos centrar">

        <div class="parte" style="background: #5f6769; ">
          <label class="centrar" style="margin-bottom: 3px; color: white;">
           <img src="../../../assets/iconos/vespa4.png" width="20px;" style="margin: 2px;"> 
            Repartidores:</label>
          <div class="scrolRepartidores1">

            <div 
            class="centrarIZ" [ngClass]="{'nom':repartidorActual.id!=repar.id,'nom2':repartidorActual.id==repar.id}"
            (click)="verRepartidor(repar)"
            *ngFor="let repar of repartidores">

              <div class="centrar"  [ngClass]="{'conimg1':repartidorActual.id!=repar.id,'conimg11':repartidorActual.id==repar.id}">
                  <img src="{{repar.foto}}" >
              </div>
              <p style="font-size: 13px;"  [ngClass]="{'negro':repartidorActual.id!=repar.id,'blanco':repartidorActual.id==repar.id}">
                  {{repar.nombre}}
              </p>
              

            </div>

            

          </div>


        </div>


        <div class="parte" style="background: #252525" >
          <label class="centrar"  style="margin-bottom: 3px; color: white;">
              <img src="../../../assets/iconos/information (1).png" width="20px;" style="margin: 2px;" > 
            Datos del repartidor:</label>
            
            <div class="scrolRepartidores centrar" style="overflow: hidden; overflow-y: scroll; ">

              <div id="ima" class="conimg2 centrar">
                  <img src="{{repartidorActual.foto}}" >

              </div>

              <label >Nombre:</label>
              <p>{{repartidorActual.nombre}} {{repartidorActual.apellidos}}</p>

              <label >tel:</label>
              <p>{{repartidorActual.tel}}</p>

              <label >Matricula de veiculo:</label>
              <p>{{repartidorActual.matricula}}</p>

              <!--label >Empresa:</label>
              <p>{{repartidorActual.empresa}}</p---->
              <ion-button
              [disabled]="height==0"
              (click)="asignar()" style="font-size: 11px; width: 90%; height: 20px;">
                  Asignar
                </ion-button>

                
            </div>

        
        </div>

    </div>

  </div>

</ion-content>
