
.centrar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.parte{
    width: 100%;
    height: 100%;
   // background: yellowgreen;}
   overflow: hidden;
}

.imagen{
    max-width: 80%;
    height: auto;
}

.parte::content ion-button{
    width: 40%;
}

.formulario{
    //background: rebeccapurple;
    width: 90%;
}
.formulario::content ion-input{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.formulario::content label{
    color:  #7A7A7A;
}

@media(max-width:600px){

    .imagen{
        width: auto;
        max-height: 60%;
    }

    

}