<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="parte centrar" id="part1">
  <div class="centrar" style="margin: auto;">
      <img src="../../../assets/iconos/flaswash12.png" class="imagen">

      <ion-button color="secondary"
        (click)="go('part1')"
      >
        Iniciar sesion
      </ion-button>
    
      <ion-button 
      [routerLink]="['/registro']"
      color="secondary">
          Registrar
      </ion-button>

  </div>
  

</div>


<div class="parte centrar" id="part2">
  
  <form class="formulario"  [formGroup]="formInicio">

    <!--label>
      <img src="../../../assets/imagenes/user.png" style="width:20px;">
      Nombre de usuario:</label>
    <ion-input placeholder="Nombre"></ion-input>

    <label>
        <img src="../../../assets/imagenes/store.png" style="width:20px;">
      Nombre de la Empresa:</label>
    <ion-input placeholder="Empresa"></ion-input--->
      <label>
        <img src="../../../assets/imagenes/at.png" style="width:20px;">
        Correo:</label>
      <ion-input formControlName="correo" type="Correo" placeholder="Correo@.gmail.com"></ion-input>

      <div class="botonInfo2 centrar"  (click)="verInfo(1)">
        <img 
        *ngIf="!formInicio.get('correo').hasError('required') && !formInicio.get('correo').hasError('pattern')"
        src="../../../assets/imagenes/information.png" style="width: 100%;">
        <img 
        *ngIf="formInicio.get('correo').hasError('required') || formInicio.get('correo').hasError('pattern')"
        src="../../../assets/imagenes/informationX.png" style="width: 100%;">
    </div>
    <p *ngIf="verAviso==1">
        Campos obligatorios.
    </p>



    <label>
      <img src="../../../assets/imagenes/key.png" style="width:20px;">
      Contraseña:</label>
    <ion-input formControlName="contrasenia" type="password" placeholder="****"></ion-input>

    <div class="botonInfo2 centrar"  (click)="verInfo(2)">
      <img 
      *ngIf="!formInicio.get('contrasenia').hasError('required') && !formInicio.get('contrasenia').hasError('pattern')"
      src="../../../assets/imagenes/information.png" style="width: 100%;">
      <img 
      *ngIf="formInicio.get('contrasenia').hasError('required') || formInicio.get('contrasenia').hasError('pattern')"
      src="../../../assets/imagenes/informationX.png" style="width: 100%;">
  </div>
  <p *ngIf="verAviso==2">
      Campos obligatorios.
  </p>



      <label class="centrar" style="font-size: 13px; color:#394a6d; cursor: pointer;">
        
       
        ¿olvidaste tu contraseña?</label>
  </form>


  
  
  <ion-button color="tertiary" 
  (click)="iniciarSesion()"
  [disabled]="!formInicio.valid"
  >
    Aceptar
  </ion-button>

  <ion-button
  (click)="go('part2')"
  >
      Cancelar
    </ion-button>
</div>


</ion-content>