<ion-header>
  <ion-toolbar color=primary>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="info">

    <div class="datosClinete">
      <h3 style="color: #23374d">Datos del cliente:</h3>

      <label >
        <img src="../../../assets/iconos/user.png" width="20px">
        Nombre del cliente:</label>
      <p >{{pedido.nombreCliente}}</p>

      <label >
          <img src="../../../assets/iconos/pin.png" width="20px">
        Dirección:</label>
      <p>{{direccionCliente.address}}</p>

      

      <label >
          <img src="../../../assets/iconos/call-answer (1).png" width="20px">
        Tel:</label>
      <p>{{pedido.telefono}}</p>

    </div>

    <div class="status centrar">

      <div class="centrar status2" style="padding-bottom: 12px;"
          
      [ngClass]="{'nuevo':pedido.status=='Nuevo pedido', 
      'cancelado':pedido.status=='Cancelado',
      'lavanderia':pedido.status=='En proceso',
      'encalino1':pedido.status=='Entregando',
      'encalino2':pedido.status=='A lavanderia',
      'recojer':pedido.status=='Recogiendo'
      }"
      >

          <h6 style="width: 100%; text-align: center;">Status:</h6>
      
          <label class="centrar" style="font-size: 15px;">
            <img src="{{pedido.icon}}" style="width: 40px;" [ngClass]="{'rota-horizontal':pedido.status=='A lavanderia'}">
            {{pedido.status}}
          </label>
           
            <label style="margin-top:10px; font-size: 13px; ">
               
              Solicitado:<br>
              {{horaSolicitud.hora}} /{{horaSolicitud.dia}}/{{horaSolicitud.mes}}
              
            </label>

            
            
      </div>

      
        
    </div>


    <div class="serviciosS">
      <h3 style="color: #1089ff;">
        Servicios pedidos:
      </h3>

      <h5 *ngIf="pedido.servicios.lavanderia.length>0" style="color: #3c9d9b;">Lavandería:</h5>
      <p *ngFor="let lavado of pedido.servicios.lavanderia">{{lavado.servicio}} ${{lavado.precio}} por {{lavado.unidad}}</p>
      
      <h5 *ngIf="pedido.servicios.tintoreria.length>0" style="color: #3c9d9b;">Tintoreria:</h5>
      <p *ngFor="let tinto of pedido.servicios.tintoreria">{{tinto.servicio}} ${{tinto.precio}} por {{tinto.unidad}}</p>
      
      <h5 *ngIf="pedido.servicios.planchado.length>0"  style="color: #3c9d9b;">Planchado:</h5>
      <p *ngFor="let plan of pedido.servicios.planchado">{{plan.unidad}} ${{plan.precio}}</p>
      

    </div>




    <div class="detalles" *ngIf="pedido.indicaciones!=null">
      <h3 style="color: goldenrod;">Indicaciones:</h3>
      <p> 
        {{pedido.indicaciones}}
      </p>
    </div>

    

  </div>

  <ion-item color="secondary" *ngIf="pedido.status!='Cancelado'">
    <ion-button 
    [routerLink]="['/repartidor']"
    color=tertiary style="width: 49%; height: 80%; margin: auto; font-size: 12px;">
      Asingnar repartidor
    </ion-button>
      <ion-button  color=tertiary style="width: 49%; height: 80%; margin: auto; font-size: 12px;" >
          finalizar
        </ion-button>
  </ion-item>

</ion-content>
