<ion-header>
  <ion-toolbar color=primary>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="width: 100%; height: 100%; overflow-y: scroll;">

  <div class="info">

    <div class="datosClinete">
      <h3 style="color: #23374d">Datos del cliente:</h3>

      <label >
        <img src="../../../assets/iconos/user.png" width="20px">
        Nombre del cliente:</label>
      <p >{{pedido.nombreCliente}}</p>

      <label >
          <img src="../../../assets/iconos/pin.png" width="20px">
        Dirección:</label>
      <p>{{direccionCliente.address}}</p>

      

      <label >
          <img src="../../../assets/iconos/call-answer (1).png" width="20px">
        Tel:</label>
      <p>{{pedido.telefono}}</p>

    </div>

    <div class="status centrar">

      <div class="centrar status2" style="padding-bottom: 12px;"
          
      [ngClass]="{'nuevo':pedido.status=='Nuevo pedido', 
      'cancelado':pedido.status=='Cancelado',
      'lavanderia':pedido.status=='En proceso',
      'encalino1':pedido.status=='Entregando',
      'encalino2':pedido.status=='A lavanderia',
      'recojer':pedido.status=='Recogiendo'
      }"
      >

          <h6 style="width: 100%; text-align: center;">Status:</h6>
      
          <label class="centrar" style="font-size: 15px;">
            <img src="{{pedido.icon}}" style="width: 40px;" [ngClass]="{'rota-horizontal':pedido.status=='A lavanderia'}">
            {{pedido.status}}
          </label>
           
            <label style="margin-top:10px; font-size: 13px; ">
               
              Solicitado:<br>
              {{horaSolicitud.hora}} /{{horaSolicitud.dia}}/{{horaSolicitud.mes}}
              
            </label>

            
            
      </div>

      
        
    </div>


    <div class="serviciosS">
      <h3 style="color: #1089ff;">
        Servicios pedidos:
      </h3>

      <h5 *ngIf="datosLavanderia.length>0" style="color: #3c9d9b;border-bottom: 1px solid #3c9d9b;">Lavandería:</h5>
      <div *ngFor="let lavado of datosLavanderia">
        <p >{{lavado.servicio}} ${{lavado.precio}} por {{lavado.unidad}}</p>
        <div *ngIf="lavado.cantidad!=0" class="centrar">
          <p style="margin: auto; color: red;" class="centrar">
            {{lavado.unidad}}/s: 
            <label style="color: black;">
              {{lavado.cantidad}}
            </label>
           
          </p>

          <p style="margin: auto;color: red;" class="centrar">
            Costo:      
            <label style="color: black;">
              ${{lavado.costo}}
            </label>
          </p>
        </div>
      
     </div>
    
      
      <h5 *ngIf="datosTintoreria.length>0" style="color: #3c9d9b; border-bottom: 1px solid #3c9d9b;">Tintoreria:</h5>
      <div *ngFor="let tinto of datosTintoreria">
        <p >{{tinto.servicio}} ${{tinto.precio}} por {{tinto.unidad}}</p>
        <div *ngIf="tinto.cantidad!=0" class="centrar">
          <p style="margin: auto; color: red;" class="centrar">
            {{tinto.unidad}}/s: 
            <label style="color: black;">
              {{tinto.cantidad}}
            </label>
           
          </p>
          <p style="margin: auto;color: red;" class="centrar">
            Costo:      
            <label style="color: black;">
              ${{tinto.costo}}
            </label>
          </p>
        </div>
      
     </div>


      <h5 *ngIf="datosPlanchado.length>0"  style="color: #3c9d9b; border-bottom: 1px solid #3c9d9b;">Planchado:</h5>
      
      <div *ngFor="let plan of datosPlanchado">
        <p >{{plan.unidad}} ${{plan.precio}}</p>
        <div *ngIf="plan.cantidad!=0" class="centrar">
          <p style="margin: auto; color: red;" class="centrar">
            {{plan.unidad}}/s: 
            <label style="color: black;">
              ${{plan.cantidad}}
            </label>
           
          </p>
          <p style="margin: auto;color: red;" class="centrar">
            Costo:      
            <label style="color: black;">
              {{plan.costo}}
            </label>
          </p>
        </div>
      
     </div>

    </div>




    <div class="detalles" *ngIf="pedido.indicaciones!=null">
      <h3 style="color: goldenrod;">Indicaciones:</h3>
      <p> 
        {{pedido.indicaciones}}
      </p>
    </div>

    

  </div>

  <div class="serviciosS" *ngIf="repartidor!=null" >
    <h3 style="color: royalblue;">Repartidor asignado:</h3>

    <div class="centrar" style="width: 180px; height: auto; background: rebeccapurple; margin: 10px;
    overflow: hidden; border-radius: 10px;
    ">
  <img src="{{repartidor.foto}}" style="width: 100%; height: auto; ">
    </div>
    

    <label style="color: gray;">Nombre:</label>
    <p>{{repartidor.nombres+' '+repartidor.apellidos}}</p>
    <label style="color: gray;">Telefono:</label>
    <p>{{repartidor.telefono}}</p>

  </div>

  <div  *ngIf="pedido.status!='Cancelado'" class="centrar" style="margin: auto; height: auto; width: 95%;">
    <ion-button 
    (click)="asignarRepartidor()"
    color=tertiary *ngIf="asinar==true" style="width: 49%;  margin: auto; font-size: 12px;">
      Asingnar repartidor
    </ion-button>

        <ion-button  *ngIf="pedido.status=='A lavanderia'" color=tertiary  style="width: 49%;  margin: auto; font-size: 12px;" >
          Confirmar entregra
        </ion-button>

        <ion-button color=tertiary *ngIf="tipoPedido=='solo_entregar'" (click)="viewNserDatas()">
            Ingresar datos
          </ion-button>

          <ion-button color=tertiary   style="width: 49%;  margin: auto; font-size: 12px;">
            Rechazar solicitud
          </ion-button>

        </div>
<!-------------ingresar datos inicio--------------------------------------------------------------------------------------------->

 <div class="ingresarDatos" id="IngresarDatos">

  <h5 style="color: #23374d;">servicios solicitados</h5>

  <h5 *ngIf="datosLavanderia.length>0" style="color: #3c9d9b;">Lavandería:</h5>
  <div class="centrar conteData" *ngFor="let lava of datosLavanderia" >
      <p style="width: 90%; margin: auto;">{{lava.servicio}} ${{lava.precio}} por {{lava.unidad}}</p>

      <p class="datainsert">
          {{lava.unidad}}/s:<br>
          <input [(ngModel)]="lava.cantidad"  type="number">
      </p>

      <p class="centrar" style="width:40px; color: gray;"> <br> = $ </p>

      <p class="datainsert">
          costes: <br>
          <input  value="{{lava.cantidad*lava.precio}}"   type="number" id="{{lava.servicio}}">
      </p>

  </div>



  <h5 *ngIf="datosTintoreria.length>0" style="color: #3c9d9b;">Tintoreria:</h5>
  <div class="centrar conteData" *ngFor="let tintor of datosTintoreria" >
      <p style="width: 90%; margin: auto;">{{tintor.servicio}} ${{tintor.precio}} por {{tintor.unidad}}</p>

      <p class="datainsert">
          {{tintor.unidad}}/s:<br>
          <input [(ngModel)]="tintor.cantidad"   type="number">
      </p>

      <p class="centrar" style="width:40px; color: gray;"> <br> = $ </p>

      <p class="datainsert">
          costes: <br>
          <input value="{{tintor.cantidad*tintor.precio}}"   type="number" id="{{tintor.servicio}}">
      </p>

  </div>
   

  <h5 *ngIf="datosPlanchado.length>0"  style="color: #3c9d9b;">Planchado:</h5>
  <div class="centrar conteData" *ngFor="let planc of datosPlanchado" >
      <p style="width: 90%; margin: auto;">${{planc.precio}} por {{planc.unidad}}</p>

      <p class="datainsert">
          {{planc.unidad}}/s:<br>
          <input [(ngModel)]="planc.cantidad"  type="number">
      </p>

      <p class="centrar" style="width:40px; color: gray;"> <br> = $ </p>

      <p class="datainsert">
          costes: <br>
          <input value="{{planc.cantidad*planc.precio}}" type="number" id="{{planc.unidad}}">
      </p>

  </div>

  <h4 style=" width: 90%; text-align: center; margin: auto; color: #23374d; font-size: 18px; font: bold;" >
    Tatal= $ {{total}}
  </h4>

  <div style="width: 100%; padding: 15px;" class="centrar">
    <ion-button color=tertiary style="width: 90%; margin:3px;"  (click)="getTotal()">
      Optener total
    </ion-button>
  
    <ion-button color=tertiary style="width: 90%; margin: auto; margin:3px;" (click)="cancelarDatos()">
      Cancelar
    </ion-button>

    <ion-button  
    [disabled]="total==0"
    style="width: 90%; margin:3px;" (click)="guardarDatosDelPedido()">
      Guardar datos
    </ion-button>
  </div>



 </div> 


</div>

</ion-content>
