<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons>
      <ion-back-button>

      </ion-back-button>

      <ion-title>
        Editar información
      </ion-title>
    </ion-buttons>
  

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contp centrar" style="height: 10%;" id="menu">

    <div class="opciones centrar "  [ngClass]="{'normal':actual!='services', 'actual':actual=='services'}">
      <img src="../../../assets/iconos/washing-machine2.png" style="width: 20px; margin: 5px;">
     
      <button (click)="mostrar('services')"></button>
    </div>

    <div class="opciones centrar"  [ngClass]="{'normal':actual!='ofert', 'actual':actual=='ofert'}">
      <img src="../../../assets/iconos/tag.png" style="width: 20px; margin: 5px;">
    
      <button (click)="mostrar('ofert')"></button>
    </div>

    <div class="opciones centrar"  [ngClass]="{'normal':actual!='store', 'actual':actual=='store'}">
        <img src="../../../assets/iconos/store.png" style="width: 20px; margin: 5px;">
     
      <button (click)="mostrar('store')"></button>
    </div>

    <div class="opciones centrar"  [ngClass]="{'normal':actual!='images', 'actual':actual=='images'}">
        <img src="../../../assets/iconos/picture.png" style="width: 20px; margin: 5px;">
      
      <button (click)="mostrar('images')"></button>
    </div>


  </div>

















  <div class="contp" style="background: #1089ff; height: 90%;" id="services">
     <h5>Servicios</h5>
  </div>














  <div class="contp" style="background: #e5e5e5; height: 0px;" id="ofert">
    <h5>Ofertas</h5>
  </div>
















  <div class="contp datosEmpresa centrar" style="background: white; height: 0px; " id="store">
      <h5 style="width: 100%; position: absolute;top: 0;">Datos del local</h5>
    
      <form style="width: 90%; margin: auto; margin-top: 13px;">
          <label >Nombre del local:</label><br>
          <input type="text"><br>
          
          <label >Telefono:</label><br>
          <input type="number"><br>
          <label >Direccion:</label><br>
          <input type="text"><br>


          <div class="contBotonoesop centrar">
              <ion-button color=secondary>
                Guardar
              </ion-button>
              <ion-button>
                  Cancelar
                </ion-button>
            </div>
      </form>
    
  
  
  </div>



  
  <div class="contp " style="background: white;  height: 0px;" id="images">
    <h5>Imagenes de presentación</h5>

   <div class="contImages" style="width: 100%; height:auto;">
      
    
    <div class="contimagen centrar" *ngFor="let imagen of imagenes">
        <img src="{{imagen.url}}" alt="">
        
        <button (click)="mostrarImagen(imagen.url)"></button>
    </div>
         


    <div class="botonMoreImage">
      <img src="../../../assets/iconos/add-button-inside-black-circle.png" style="width: 100%;">

      <input type="file" class="files"  accept="image/*" (change)="selecionarImagen($event)">
    </div>

  </div>
   



  </div>


  <div class="gran centrar" id="granImagen">
    <img src="{{imagen}}" class="imagenX">


<div class="centrar" style="width: 100%;">
    <button class="botonBorrar">
        <img src="../../../assets/iconos/rubbish-bin-delete-button.png" width="40px">
      </button>
</div>
  
     
    <button class="centrar bcerrar" (click)="ocultatImagen()">
      <img src="../../../assets/iconos/close.png" style="width: 25px;">
    </button>
  </div>

</ion-content>

