.contp{
    width: 100%;
    height: 100%;
  position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

.contp::content h5{
    margin-left: 10px;
    color: #414141;
}

.centrar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.actual{
    background: #252525;
}
.normal{
    background: #5f6769;
}
.opciones{
    position: relative;
    width: 20%;
    height: 50%;
    color: white;
    margin: 10px auto;
   
    -webkit-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.75);
box-shadow: 10px 10px 10px -7px rgba(0,0,0,0.75);
}

.opciones::content button{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    outline: none;
    background: transparent;
}
.contBotonoesop{
    width: 100%;

}

.contBotonoesop::content ion-button{
    margin: auto;
}


.datosEmpresa::content label{
    font-size: 13px;
    margin-top: 13px;
}

.datosEmpresa::content input{
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    outline: none;
    color: #414141;
    border-bottom: 1px solid #414141;
    margin-top: 5px;
}



.contImages{
    display: flex;
    flex-wrap: wrap;
    
}




.contimagen{
    width: 50%;
    height: auto;
    //background: #252525;
    border: 2px solid white;
    overflow: hidden;
    position: relative;
    margin-bottom: auto;
}

.contimagen::content button{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
}

.contimagen::content img{
    height:auto ;
    max-width: 100%;
}

.botonMoreImage{
    position: absolute;
    width: 50px;
    height: 50px;
    //background: #23374d;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
}

.files{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    outline: none;
    cursor: pointer;
    opacity: 0;
}

.gran{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    top: 0;
    overflow-y: scroll;
}

.imagenX{
    max-height: 60%;
    width: auto;
    
}

.botonBorrar{
    width: 45px;
    height: 45px;
    background: red;
    margin: 20px;
    border-radius: 50%;
    outline: none;
}

.bcerrar{
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    background: transparent;
}

@media(max-width:600px){
    .imagenX{
        max-width:90%;
        height: auto;
    }
}